<div class= "container, left-align">
    <h1>Doctor: <i><%= @doctor.name %></i></h1>
    </div>
    <br />
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor), class: "ui inverted blue button" %>
<%=  link_to 'Delete This Doctor', @doctor, method: :delete, class: "ui inverted red button" %>
<br />
<br />
<hr />
<h3>Appointments <i class="first aid icon"></i>:</h3>
<table class="ui celled table">
<thead>
<tr>
<th>Patient Name  <i class="users icon"</i></th>
<th>Appointment Date  <i class="calendar icon"></i></th>
<th>Appointment Time  <i class="clock icon"></i></th>
<th>Delete Appointment  <i class="ban icon"></i></th>
</tr>
</thead>

<tbody>
<% @appointments.each do |appt| %>
  <tr>
  <td><%= appt.patient.full_name%> </td>
  <td><%= appt.date.strftime('%a, %b, %d, %Y') %></td>
  <td><%= appt.time.strftime('%l:%M %p') %></td>
  <td><%= link_to 'Delete Appointment', doctor_appointment_path(@doctor, appt), method: :delete, class: "ui inverted red button" %></td>
    </tr>
  <% end %>
</tbody>
</table>
