<h1><i>Add Appointment</i></h1>
<h5>Please enter the following fields for this appointment.</h5>
<%= form_with(model: [@doctor, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :patient %>
  <%= f.select :patient_id, Patient.all.collect { |u| [u.full_name, u.id] }  %>
  <%= f.label :date %>
  <br />
  <%= f.date_field :date, required: true, placeholder: "Date" %>
  <br />
  <%= f.label :time %>
  <%= f.time_field :time, required: true, placeholder: "Time" %>
  <br />
  <br />
  <%= f.submit nil, class: "ui inverted blue button" %>
<% end %>