<!DOCTYPE html>
<html>
  <head>
    <title>ApptRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
    $(document).ready(function() {
       $('select').material_select();
    });
 </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      <div class="ui container">
        <%= yield %>
      </div>
  </body>
</html>

